html {
    font-size: 10px;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}

.gallery {
    background-color: #111;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.gallery div {
    position: relative;
    width: 400px;
    height: 600px;
}

.gallery div img {
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    display: grid;
    place-items: center;
    padding: 0 32px;
}

.info h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
}

.info p {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    section {
        display: block;
    }

    .gallery {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info {
        padding: 50px;
    }

    .info p {
        margin: 0;
    }


}


@media screen and (max-width: 600px) {
    .gallery div {
        position: relative;
        width: 300px;
        height: 450px;
    }

    .gallery div img {
        width: 100%;
    }

}